.main-productos {
    width: 100%;
    height: auto;
    display: flex;
   flex-direction:column;
   
    justify-content: flex-start;
    align-items: center;
    
}
.main-productos h1 {
    text-align: center;
    padding: 5px 5px;
    transition: .5s;
}
.main-productos h1:hover {
     box-shadow: 0px 0px 10px 2px white;
}
.main-main-productos {
    width: 100%;
    height: auto;
    display: flex;
    /*flex-direction: row;*/
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}  
.main-informacion {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
}
.main-inicio {
    width: 100%;
    height: auto;
    border: 1px solid red;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
}
.main-contactenos {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
}
.main-bolsita {
    width: 90%;
    min-height: 300px;
    max-height: 600px;
    border: 1px solid white;
    background: rgba(255, 255, 255, 0.315);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow:auto;
}
.main-contactenos {
    display: flex;
    justify-content: center;
    align-items: center;
}

